<ion-view>

  <ion-nav-title>
    <p class="choix">Mon Profile</p>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-calm Btnsearch" ng-click="logout()">
      logout
    </button>

    <button class="button button-calm  button-outline" ng-click="refresh()">
      Refresh
    </button>

  </ion-nav-buttons>
  <ion-content>

    <div class="row">

      <div class="col-33">

      </div>
      <!------------------------------>
      <div class="col-33">
        <p>
          <img src="/img/doctorNew.png" width="80px">
        </p>

        <h4 class="title text">Modifier mon profile</h4>
      </div>
      <!---------------------->
      <div class="col-33">

      </div>

    </div><!----end of row--->
    <!------------------------------->


    <div class="list list-inset padding">

      <form name="docteurModifierProfile" novalidate ng-submit="modifierProfile(docteurModifierProfile.$valid)">



        <div style="border: 2px solid #2196F3;" class="">
          <label class="item item-input  item-outline">
            <i class="icon  ion-email placeholder-icon"></i>
            <input type="text" placeholder="Email" autocorrect="off" autocapitalize="off" ng-model="Docteur.email" required name="email"
                   >
          </label>
        </div><!----end of div------------>



        <div class="padding-bottom"></div>

        <!--------error show message------------------->
        <div class="card card-assertive cardError" ng-if="submitted && docteurModifierProfile.email.$invalid ">
          <p class="error">Vous Devez indiquez un email valide

        </div>




<!--------------------------------------------------------------------------------------------->



        <div style="border: 2px solid #2196F3;" class="">
          <label class="item item-input  item-outline">
            <i class="icon ion-locked placeholder-icon"></i>
            <input type="text" placeholder="fixe" autocorrect="off" autocapitalize="off" ng-model="Docteur.password" required name="password"
                   ng-minlength="3">
          </label>
        </div><!----end of div------------>



        <div class="padding-bottom"></div>

        <!--------error show message------------------->
        <div class="card card-assertive cardError" ng-if="submitted && docteurModifierProfile.password.$error.required ">
          <p class="error">Vous Devez indiquez un mot de passe

        </div>


        <!------------------------>


        <div class="padding-bottom"></div>

        <!--------error show message------------------->
        <div class="card card-assertive cardError" ng-if="submitted && docteurModifierProfile.password.$error.minlength" >
          <p class="error">le mot de passe au moins doit contenir 3 charactéres
        </div>









        <!---------------------------------------------------------------------------------------->






        <div style="border: 2px solid #2196F3;" class="">
          <label class="item item-input  item-outline">
            <i class="icon  ion-iphone placeholder-icon"></i>
            <input type="text" placeholder="mobile" autocorrect="off" autocapitalize="off" ng-model="Docteur.mobile" required name="mobile"
                   ng-pattern="phNumber">
          </label>
        </div><!----end of div------------>


        <div class="padding-bottom"></div>

        <!--------error show message------------------->
        <div class="card card-assertive cardError" ng-if="submitted && docteurModifierProfile.mobile.$error.required " >
          <p class="error">Vous Devez indiquez au moins un numéro de télephone

        </div>

        <!----------------------------------------------------------------------------->
        <div class="padding-bottom"></div>

        <!--------error show message------------------->
        <div class="card card-assertive cardError" ng-if="submitted && docteurModifierProfile.mobile.$error.pattern" >
          <p class="error">Vous Devez indiquez un numéro de télephone valide

        </div>




        <!---------------------------------------------------------------------------------------->








        <!---------------------------------------------------------------------------------------->






        <div style="border: 2px solid #2196F3;" class="">
          <label class="item item-input  item-outline">
            <i class="icon  ion-iphone placeholder-icon"></i>
            <input type="text" placeholder="tel_fixe" autocorrect="off" autocapitalize="off" ng-model="Docteur.tel_fixe" required name="tel_fixe"
                   ng-pattern="phNumber">
          </label>
        </div><!----end of div------------>


        <div class="padding-bottom"></div>

        <!--------error show message------------------->
        <div class="card card-assertive cardError" ng-if="submitted && docteurModifierProfile.tel_fixe.$error.required " >
          <p class="error">Vous Devez indiquez votre télephone de cabinet

        </div>

        <!----------------------------------------------------------------------------->
        <div class="padding-bottom"></div>

        <!--------error show message------------------->
        <div class="card card-assertive cardError" ng-if="submitted && docteurModifierProfile.tel_fixe.$error.pattern" >
          <p class="error">Vous Devez indiquez un numéro de télephone valide

        </div>




        <!---------------------------------------------------------------------------------------->

        <div class="padding-bottom"></div>

        <!--------the select------------->
        <div class="title">
          <p>Choisir spécialité</p>
        </div><!--end of title-->

        <div class="row text-center">

          <div class="col-70 text-center">
            <button style="border: 2px solid #2196F3;"  class="button button-positive button-outline" modal-select="" ng-model="data.specialite" options="specialites" modal-title="Choisir Spécialité" has-search="true" required
                    name="specialite">
              Spécialité
              <div class="option">
                {{option}}
              </div>
            </button>
          </div><!---end of col 70---------------->
          <!---------------------------------------------------->

          <div class="padding"></div>



          <div class="col-30">
            <p class="choix">{{ data.specialite}}</p>
          </div><!--------end of col 30----------->


        </div>















        <!----------------------------------------------------------------------------->
        <div class="padding-bottom"></div>

        <!--------error show message------------------->
        <div class="card card-assertive cardError" ng-if="errorSpecilaite ">
          <p class="error">Vous Devez précisez la specialite
          </p>
        </div><!---end of card error-------------->

        <!---------------------------------------------------------------------------------------->
        <div class="padding-bottom"></div>


        <div class="title">
          <p>Choisir Gouvernorat</p>
        </div><!--end of title-->

        <!--------the select------------->
        <div class="row">

          <div class="col-70">
            <button style="border: 2px solid #2196F3;" class="button button-positive button-outline" modal-select="" ng-model="data.gouvernorat" options="gouvernorats" modal-title="Choisir Gouvernorat" has-search="true">
              Gouvernorat
              <div class="option">
                {{option}}
              </div>
            </button>

          </div><!---end of col 70--------->


          <div class="padding"></div>

          <div class="col-30">
            <p class="choix">{{ data.gouvernorat}}</p>

          </div>
        </div><!----end of row-------------->

        <!------------------->


        <div class="padding-bottom"></div>
        <!------------------>

        <div class="title">
          <p>Choisir Délégation</p>
        </div><!--end of title-->
        <div class="row">


          <div class="col-70">
            <button style="border: 2px solid #2196F3;" class="button button-positive button-outline" modal-select="" ng-model="data.delegation" options="delegations" modal-title="Choisir Délegation" has-search="true">
              Délegation
              <div class="option">
                {{option}}
              </div>
            </button>
          </div><!---end of col 70------------>

          <div class="padding"></div>

          <!------------------------------->
          <div class="col-30">
            <p class="choix">{{ data.delegation }}</p>
          </div><!----end of col 30---------->



        </div>





        <button class="button button-block button-outline button-positive outline text  ink" data-ink-color="#9DEAFF" data-ink-opacity="1"
                style="border: 2px solid #2196F3;">Modifier
        </button>

      </form>

      </div>





















  </ion-content>
</ion-view>
