<ion-view>
  <ion-nav-title>
    <span class="text">Profile</span>
  </ion-nav-title>
  <ion-floating-button click="myEvent()" has-footer="false" button-color="#DD2C00" icon="ion-plus" iconColor="#fff">
  </ion-floating-button>







    <ion-tabs>

      <ion-tab title="Mes Rendez Vous">

      </ion-tab>

      <ion-tab title="Mes Praticients">
        Ici Praticients
      </ion-tab>

      <ion-tab title="Profile" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
<ion-content>
  ooooo
</ion-content>
      </ion-tab>

    </ion-tabs>












</ion-view>
