<ion-view>
  <ion-nav-title>
    <span class="text">Praticien</span>
  </ion-nav-title>
  <ion-content >

    <!--------------------->


    <div class="row">

      <div class="col-33">

      </div>
      <!------------------------------>
      <div class="col-33">
        <p>
          <img src="/img/doctorMenu.png" width="80px">
        </p>

        <h4 class="title text">Mon Compte</h4>
      </div>
      <!---------------------->
      <div class="col-33">

      </div>

    </div><!----end of row--->
    <!------------------------------->







    <div class="list list-inset padding">
      <form>

        <div style="border: 2px solid #2196F3;" class="">
          <label class="item item-input">
            <i class="icon  ion-email placeholder-icon"></i>
            <input type="email" placeholder="Email">
          </label>
        </div><!----end of div---------------------------------------->

        <div class="padding"></div>



        <div style="border: 2px solid #2196F3;" class="">
          <label class="item item-input">
            <i class="icon ion-locked placeholder-icon"></i>
            <input type="password" placeholder="Password">
          </label>
        </div><!----end of div---------------------------------------->






        <button ng-click="loginPraticient()" class="button button-block button-outline button-positive text ink" data-ink-color="#9DEAFF" data-ink-opacity="1"
                style="border: 2px solid #2196F3;">
          Se Connecter
        </button>
      </form>

    <div class="padding text">
      <a ui-sref="app.espacePraticieninscription">Vous n'avez pas déja de compte ?</a>
    </div>
</div>

  </ion-content>
</ion-view>


