<ion-view>

  <ion-nav-title>
    <span class="text">Inscrire</span>
  </ion-nav-title>
  <ion-content>

    <!--------------------->


    <div class="row">

      <div class="col-33">

      </div>
      <!------------------------------>
      <div class="col-33">
        <p>
          <img src="/img/newClient.png" width="80px">
        </p>

        <h4 class="title text">Créer un compte</h4>
      </div>
      <!---------------------->
      <div class="col-33">

      </div>

    </div><!----end of row--->




    <div class="list list-inset padding">



      <div style="border: 2px solid #2196F3;" class="">
      <label class="item item-input">
        <i class="icon  ion-email placeholder-icon"></i>
        <input type="email" placeholder="Email">
      </label>
      </div><!----end of div---------------------------------------->

      <div class="padding"></div>

      <div class="row">

        <div class="col col-50">
          <div style="border: 2px solid #2196F3;" class="">
        <label class="item item-input item-light">
        <i class="icon ion-locked placeholder-icon"></i>
        <input type="password" placeholder="Password" autocorrect="off" autocapitalize="off" ng-model="data.password">
        </label>
          </div><!----ed of div--------->

        </div><!---end of col----->



        <!------------------------>

        <div class="col col-50">
          <div style="border: 2px solid #2196F3;" class="">
          <label class="item item-input item-light">
            <i class="icon  ion-checkmark placeholder-icon"></i>
            <input type="password" placeholder="Confimer Password" autocorrect="off" autocapitalize="off" ng-model="data.password">
          </label>
            </div><!--end of div---------->
        </div><!---end of col----->



      </div><!---end of row----->
      <div class="padding"></div>


          <div style="border: 2px solid #2196F3;" class="">
          <label class="item item-input item-stable">
            <i class="icon  ion-iphone placeholder-icon"></i>
            <input type="text" placeholder="mobile" autocorrect="off" autocapitalize="off" ng-model="data.password">
          </label>
            </div><!----end of div-------------->

      <div class="padding"></div>
        <!------------------------>

          <div style="border: 2px solid #2196F3;" class="">
          <label class="item item-input item-light">
            <i class="icon ion-home placeholder-icon"></i>
            <input type="text" placeholder="domicile" autocorrect="off" autocapitalize="off" ng-model="data.password">

          </label>
            </div><!---end of div------------->


        <!---------------------------------->
      <div class="padding"></div>

          <div style="border: 2px solid #2196F3;" class="">
          <label class="item item-input item-light">
            <i class="icon ion-ios-briefcase placeholder-icon"></i>
            <input type="text" placeholder="bureau" autocorrect="off" autocapitalize="off" ng-model="data.password">

          </label>
            </div><!----end of div--------------->







      <!-------------------------->
      <div class="padding"></div>

      <div class="row">



        <div class="col col-50">
          <div style="border: 2px solid #2196F3;" class="">
          <label class="item item-input item-light">
            <i class="icon ion-android-person placeholder-icon"></i>
            <input type="text" placeholder="Nom" autocorrect="off" autocapitalize="off" ng-model="data.password">
          </label>
            </div><!----end of div---------->
        </div><!---end of col----->

        <!------------------------>
        <div class="col col-50">
          <div style="border: 2px solid #2196F3;" class="">
          <label class="item item-input item-light">
            <i class="icon ion-android-person-add placeholder-icon"></i>
            <input type="text" placeholder="Prénom" autocorrect="off" autocapitalize="off" ng-model="data.password">
          </label>
            </div><!---end of div------------>
        </div><!---end of col----->



      </div><!---end of row---->


      <!-------------------------->
      <div class="padding"></div>

      <div style="border: 2px solid #2196F3;" class="">
        <label class="item item-input">
          <span class="input-label">Date de naissance</span>
<input type="date" ng-click="openDatePicker()">
        </label>

      </div><!----end of div------------->

      <div class="row">


        <div class="col-50">
          <div style="border: 2px solid #2196F3;" class="">
          <ion-radio ng-model="choice" ng-value="'A'">
            Homme
            <i class = "icon icon ion-man"></i>
          </ion-radio>
            </div>
        </div>

        <div class="col-50">
          <div style="border: 2px solid #2196F3;" class="">
          <ion-radio ng-model="choice" ng-value="'A'">Femme
            <i class = "icon icon ion-woman"></i></ion-radio>
            </div><!---nd of div------------->
        </div>



      </div><!---end of row---->



    </div>
    <button ng-click="inscrireClient()" class="button button-block button-positive button-outline text ink" data-ink-color="#9DEAFF" data-ink-opacity="1" style="border: 2px solid #2196F3;">
      S'inscrire
    </button>

    <div class="padding text">
      <a ui-sref="app.espacePatientlogin">Vous avez  déja un compte ?</a>
    </div>


  </ion-content>
</ion-view>
