<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h3 class="title text">Tbibi.tn</h3>
    <button class="button button-clear button-primary" ng-click="modal.hide()"><i class = "icon icon ion-close"></i></button>
  </ion-header-bar>
  <ion-content class="padding">

<h3 class="modalText">
  Désolé, </h3>
    <h4 class="modalText">
      Tabibi ne propose pas encore de ...., </h4>


    <div class="row">

      <div class="col-40">
   <img src="/img/NotFound.png">

      </div>
     <div class="col-60">
    <p class="modalP">

      Pour l'instant, aucun Orthophoniste n'a encore rejoint l'aventure à ,. Mais ça ne durera pas !

      Tabibi est encore en start-up,nous travaillons jour et nuit pour étendre notre service sur toute la Tunisie !
    </p>
</div><!--end of col 65------>

    </div><!----end f row------------->
  </ion-content>
</ion-modal-view>
