<ion-view view-title="Profile">
  <ion-floating-button click="myEvent()" has-footer="false" button-color="#DD2C00" icon="ion-plus" iconColor="#fff">
  </ion-floating-button>
  <ion-content ng-class="{expanded:$scope.isExpanded}">


    <div class="tabs tabs-dark tabs-icon-top static" style="background-color: #1565C0">
      <a ui-sref="app.dashaBordClient.rendezvous" class="tab-item">
        <i class="icon ion-arrow-graph-up-right"></i> Mes RDVS
      </a>
      <a ui-sref="app.praticients" class="tab-item">
        <i class="icon ion-android-people"></i>Mes Praticients
      </a>
      <a ui-sref="app.profile" class="tab-item">
        <i class="icon ion-images"></i> Profile

      </a>
    </div>






    <h4 class="content padding double-padding-x"> Mes Praticients</h4>
    <div class="list animate-fade-slide-in-right">
      <a  class="item item-avatar item-icon-right">
        <img src="/img/doctor.png">
        <h2>Doctuer1</h2>
        <p>description cabinet</p>

      </a>
      <a  class="item item-avatar item-icon-right">
        <img src="/img/doctor.png">
        <h2>Docteur2</h2>
        <div class="card">

          <div class="list">
            <div class="item item-icon-left">
              <i class="icon ion-ios-barcode-outline"></i>
              <p>N° PHOTO	DOCTEUR: 'F0000'</p>
            </div>

            <div class="item item-icon-left">
              <i class="icon ion-medkit"></i>
              <p>Spécialité : 'specilaité'</p>
            </div>

            <div class="item item-icon-left">
              <i class="icon ion-android-call"></i>
              <p>
                télephone : '2016/20/06'
              </p>
            </div>

            <div class="item item-icon-left">
              <i class="icon ion-email"></i>
              <p>Email : 'animatin ici'</p>
            </div>
            <!-------------->
            <div class="item item-icon-left">
              <i class="icon ion-ios-home-outline"></i>
              <p>Addresse : 'Tunis'</p>
            </div>
          </div>

        </div><!---end of card----------->

      </a>

    </div>


  </ion-content>
</ion-view>
