<ion-view view-title="Profile">
  <ion-floating-button click="myEvent()" has-footer="false" button-color="#DD2C00" icon="ion-plus" iconColor="#fff">
  </ion-floating-button>
  <ion-content ng-class="{expanded:$scope.isExpanded}">



    <div class="tabs tabs-dark tabs-icon-top static" style="background-color: #1565C0">
      <a ui-sref="app.dashaBordClient.rendezvous" class="tab-item">
        <i class="icon ion-arrow-graph-up-right"></i> Mes RDVS
      </a>
      <a ui-sref="app.praticients" class="tab-item">
        <i class="icon ion-android-people"></i>Mes Praticients
      </a>
      <a ui-sref="app.profile" class="tab-item">
        <i class="icon ion-images"></i> Profile

      </a>
    </div>






    <h4 class="content padding double-padding-x"> Mon Profile</h4>



  </ion-content>
</ion-view>

