
<h4 class="content padding double-padding-x text2" style="text-align: center;">Mes Rendez-vous</h4>

<!--------Praticients------------------>
<div class="list animate-fade-slide-in-right text2">



  <a  class="item item-avatar item-icon-right">
    <img src="/img/dashbord.png">
    <h2 class="text2">Rendez vous 1</h2>


  </a>



  <a  class="item item-avatar item-icon-right">
    <img src="/img/dashbord.png">
    <h2 class="">Rendez vous 2</h2>
    <div class="card">
      <div class="item">
        <p>Docteur : 'Foulen ben Foulen'</p>
        <br>

        <p>Spécialité : 'specilaité'</p>
        <br>
        <p>
          Date RDv : '2016/20/06'
        </p>


        <br>

        <p>Etat : 'animatin ici'</p>
        <br>
      </div>

    </div><!---end of card---------->
  </a>




  <a  class="item item-avatar item-icon-right">
    <img src="/img/dashbord.png">
    <h2>Rendez vous1</h2>

    <!--------------------------------->
    <div class="card">

      <div class="list">
        <div class="item item-icon-left">
          <i class="icon ion-person-add"></i>
          <p>Docteur : 'Foulen ben Foulen'</p>
        </div>

        <div class="item item-icon-left">
          <i class="icon ion-medkit"></i>
          <p>Spécialité : 'specilaité'</p>
        </div>

        <div class="item item-icon-left">
          <i class="icon ion-calendar"></i>
          <p>
            Date RDv : '2016/20/06'
          </p>
        </div>

        <div class="item item-icon-right">

          <p>Etat : ' <i class="icon ion-load-d"></i>'</p>
        </div>

      </div>

    </div><!---end of card----------->

  </a>



</div>
<!------------------------->
