<ion-view  ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">

  <ion-nav-title>
    <p class="choix">Résultats de Recherche </p>
  </ion-nav-title>
  <ion-content class="animated bounceInLeft">


    <div class="row">




        <h4 class="title text" ng-if="Resultats.length==1">
          {{ Resultats.length}} praticient
        </h4>
      <h4 class="title text" ng-if="Resultats.length!=1">
        {{ Resultats.length}} praticients
      </h4>

<h5><a ng-click="goMpas()">Voir Maps <i class="icon ion-ios-location"></i>
</a></h5>


      <!---------------------->


    </div><!----end of row--->


    <ion-list ng-repeat="dc in Resultats ">


      <ion-item>
      <div class="row " >

        <div class="col-40" >
          <a ui-sref="app.docteursDetails({ id : dc.id_praticien})">
          <img src="img/doctorNew.png" width="50px" style="border-radius:50%; background-position:center center; background-size:cover; width:80%; height:100%;">
          </a>
        </div><!----end of col md40----->

       <div class="col-60 text-center">
          <h3 class="resultat">

            <a ui-sref="app.docteursDetails({id : dc.id_praticien})">Dr {{ dc.nom_praticien + ' ' + dc.prenom_praticien}}
          </a>
          </h3>
         <div class="padding-bottom"></div>
          <h3 class="resultat">
            <i class = "icon icon ion-document-text"></i>
            Spécialité :{{ dc.specialite}}</h3>
         <div class="padding-bottom"></div>
          <h3 class="resultat">
            <i class = "icon icon ion-android-home"></i>
            Addresse :{{ dc.adresse }}
          </h3>

         <div class="padding-bottom"></div>

          <h3 class="resultat">
            <i class = "icon icon ion-android-call"></i>
            telephone :{{ dc.phone__fixe_praticien }}
         </h3>
         <div class="padding-bottom"></div>


         <button class="button button-block button-positive button-outline text ink" data-ink-color="#9DEAFF" data-ink-opacity="1" style="border: 2px solid #2196F3;"
                 ng-click="gotoDocteurDetails(dc.id_praticien)">
           Prendre RDV
         </button>

        </div><!--end of col 60------->


    </div><!----end of row-------->

      </ion-item>
<!-------------------------------------------------------------------------------->
<div class="padding-bottom"></div>





    </ion-list>







  </ion-content>
</ion-view>
