<ion-view view-title="Recherche">


  <ion-content>


    <ion-tabs>

      <ion-tab title="Home">
        <!-- Tab 1 content -->
        <div class="padding"></div>
        <!--------the select------------->
        <div class="row" ng-show="showListemdecins">



          <div class="buttons">

            <a ng-click="popover.show($event)">Rechercher Votre médecin ou votre établissement</a>

          </div>

        </div><!---end of row--->
        <div class="padding"></div>

        <!------------------->
        <div class="row">
          <label class="item item-input item-stable">

            <i ng-show="!disableGeo" class="icon ion-ios-location placeholder-icon"></i>
            <i ng-show="disableGeo" class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Rechercher autour de moi" autocorrect="off" autocapitalize="off" ng-click="ActiverGeo()" >


          </label>
        </div>



        <script id="templates/popover.html" type="text/ng-template">
          <ion-popover-view>
            <ion-content>
              <h4 class="border-top"> liste des docteurs</h4>
              <div class="list">
                <a class="item item-avatar">
                  <img src="../img/doctor.png">
                  <h2>Material</h2>
                  <p>Sheets of paper</p>
                </a>
                <a class="item item-avatar">
                  <img src="../img/doctor.png">
                  <h2>Motion</h2>
                  <p>Accent and bring attention</p>
                </a>
                <a class="item item-avatar">
                  <img src="../img/doctor.png">
                  <h2>Ink</h2>
                  <p>Fluidity</p>
                </a>
              </div>
            </ion-content>
          </ion-popover-view>
        </script>


        <div class="padding"></div>




        <!--------the select------------->

        <div class="row">



          <div class="col-50">
            <button style="border: 2px solid #2196F3;"  class="button button-positive button-outline" modal-select="" ng-model="someModel" options="specialites" modal-title="Choisir Spécialité" has-search="true">
              Spécialité
              <div class="option">
                {{option}}
              </div>
            </button>
          </div><!----end of col 50----------->

          <!------------------->

          <!--------the select------------->
          <div class="col-50">
            <button style="border: 2px solid #2196F3;" class="button button-positive button-outline" modal-select="" ng-model="someModel" options="gouvernorats" modal-title="Choisir Spécialité" has-search="true">
              Gouvernorat
              <div class="option">
                {{option}}
              </div>
            </button>
          </div><!----end of col 50-------------->
          <!------------------->

        </div><!---end of row-------------->


        <div class="padding"></div>
        <!------------------>

        <div style="border: 2px solid #2196F3;" class="">
          <label class = "item item-input item-select item-light" ng-show="!showListemdecins">
            <div class = "input-label">
              Délégation
            </div>

            <select>
              <option>Ariana Ville</option>
              <option selected>Ennasr 1</option>
              <option>Ennasr 2</option>
            </select>
          </label>
        </div>


        <div class="padding"></div>

        <button style="border: 2px solid #2196F3;"  class="button button-block button-positive button-outline  ink" data-ink-color="#9DEAFF" data-ink-opacity="1" ng-click="recherche()">
          Rechercher
          <i class="icon ion-search placeholder-icon"></i>
        </button>













        <!-------------teh modal script--------------->

        <script id="templates/modal.html" type="text/ng-template">
          <ion-modal-view>
            <ion-header-bar class="bar bar-header bar-positive">
              <h1 class="title">Tbibi.tn</h1>
              <button class="button button-clear button-primary" ng-click="modal.hide()"><i class = "icon icon ion-close"></i></button>
            </ion-header-bar>
            <ion-content class="padding">

              <h1>Sorry we didn"t fin what you search</h1>
            </ion-content>
          </ion-modal-view>
        </script>

        <!----------------------------------->
      </ion-tab>

      <ion-tab title="Nom Médecin">
        <div class="buttons">

          <a ng-click="popover.show($event)">Rechercher Votre médecin ou votre établissement</a>

        </div>
      </ion-tab>

      <ion-tab title="Maps">
        Ici Maps
      </ion-tab>

    </ion-tabs>
















  </ion-content>
</ion-view>
