<ion-view>
  <ion-nav-title>
    <p class="choix">Profile</p>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-calm" ng-click="logout()"> logout </button>
    <button class="button button-calm " ng-click="Refresh()"> Refresh </button>
  </ion-nav-buttons>
  <ion-content class="animated fadeInLeft">
    <div class="padding-top"></div>
    <div class="row">
      <div class="col-33"> </div>
      <!------------------------------>
      <div class="col-33">
        <p> <img src="dist/img/user.png" width="80px"> </p>
        <h4 class="title text">Mon Compte</h4> </div>
      <!---------------------->
      <div class="col-33"> </div>
    </div>
    <!----end of row--->
    <div class="list list-inset padding">
      <form name="ClientProfile" ng-submit="modifierProfile(ClientProfile.$valid)" novalidate>
        <!---------------------------------------------------------------------------------------->
        <div style="border:2px solid #2196F3" class="">
          <label class="item item-input item-stable"> <i class="icon ion-iphone placeholder-icon"></i>
            <input type="text" placeholder="mobile" autocorrect="off" autocapitalize="off" ng-model="Client.userData.mobile_patient" required name="mobile" ng-pattern="phNumber"> </label>
        </div>
        <!----end of div-------------->
        <!----------------------------------------------------------------------------->
        <div class="padding-bottom"></div>
        <!--------error show message------------------->
        <div class="card card-assertive cardError" ng-if="submitted && ClientProfile.mobile.$invalid ">
          <p class="error">Vous Devez au moins un numéro de télephone </p>
        </div>
        <!----------------------------------------------------------------------------->
        <div class="padding-bottom"></div>
        <!--------error show message------------------->
        <div class="card card-assertive cardError" ng-if="submitted && ClientProfile.mobile.$error.pattern">
          <p class="error">Vous Devez indiquez un numéro de télephone valide </p>
        </div>
        <!---------------------------------------------------------------------------------------->
        <!----------------------------------------------------------------------------->
        <div class="padding-bottom"></div>
        <div class="row">
          <div class="col-50" style="border:2px solid #2196F3">
            <label class="item item-input item-light"> <i class="icon ion-android-person placeholder-icon"></i>
              <input type="text" placeholder="Nom" autocorrect="off" autocapitalize="off" ng-model="Client.userData.nom_patient" required name="Nom" ng-minlength="3"> </label>
          </div>
          <!---end of col 50--------->
          <div class="col-50" style="border:2px solid #2196F3">
            <label class="item item-input item-light"> <i class="icon ion-android-person-add placeholder-icon"></i>
              <input type="text" placeholder="Prenom" autocorrect="off" autocapitalize="off" ng-model="Client.userData.prenom_patient" required name="Prenom" ng-minlength="3"> </label>
          </div>
          <!---end of col 50------------>
        </div>
        <!----------------------------------------------------------------------------->
        <div class="padding-bottom"></div>
        <!--------error show message------------------->
        <div class="card card-assertive cardError" ng-if="submitted && ClientProfile.Nom.$invalid">
          <p class="error">Vous Devez indiquez Votre Nom </p>
        </div>
        <!---------------------------------------------------------------------------------------->
        <!----------------------------------------------------------------------------->
        <div class="padding-bottom"></div>
        <!--------error show message------------------->
        <div class="card card-assertive cardError" ng-if="submitted && ClientProfile.Nom.$error.minlength">
          <p class="error">le Nom contient au moins 3 caractéres </p>
        </div>
        <!---------------------------------------------------------------------------------------->
        <!----------------------------------------------------------------------------->
        <div class="padding-bottom"></div>
        <!--------error show message------------------->
        <div class="card card-assertive cardError" ng-if="submitted && ClientProfile.Prenom.$invalid">
          <p class="error">Vous Devez confirmez votre Prénom </p>
        </div>
        <!---------------------------------------------------------------------------------------->
        <div class="padding-bottom"></div>
        <!--------error show message------------------->
        <div class="card card-assertive cardError" ng-if="submitted && ClientProfile.Prenom.$error.minlength">
          <p class="error">le Prénom contient au moins 3 caractéres </p>
        </div>
        <!---------------------------------------------------------------------------------------->
        <!-------------------------->
        <div class="padding-bottom"></div>
        <div style="border:2px solid #2196F3" class="">
          <label class="item item-input"> <span class="input-label">Date de naissance</span>
            <input type="date" ng-click="openDatePicker()" ng-model="Client.userData.date_naissance" name="dateNaissance" required> </label>
        </div>
        <!----end of div------------->
        <!----------------------------------------------------------------------------->
        <div class="padding-bottom"></div>
        <!--------error show message------------------->
        <div class="card card-assertive cardError" ng-if="submitted && ClientProfile.dateNaissance.$error.required">
          <p class="error">Vous Devez indiquez Votre date de naissance </p>
        </div>
        <!---------------------------------------------------------------------------------------->
        <div class="row">
          <div class="col-50">
            <div style="border:2px solid #2196F3" class="">
              <ion-radio ng-model="Client.userData.genre" name="genre" ng-value="'homme'" ng-required="true" ng-checked="Client.userData.genre=='homme'"> Homme <i class="icon icon ion-man"></i> </ion-radio>
            </div>
          </div>
          <div class="col-50">
            <div style="border:2px solid #2196F3" class="">
              <ion-radio ng-model="Client.userData.genre" name="genre" ng-value="'femme'" ng-required="true" ng-checked="Client.userData.genre=='femme'">Femme <i class="icon icon ion-woman"></i></ion-radio>
            </div>
            <!---nd of div------------->
          </div>
        </div>
        <!---end of row---->
        <!----------------------------------------------------------------------------->
        <div class="padding-bottom"></div> {{ ClientInscrire.$error }}
        <!--------error show message------------------->
        <div class="card card-assertive cardError" ng-if="submitted && !ClientProfile.genre.$valid ">
          <p class="error">Vous Devez indiquez Votre genre </p>
        </div>
        <!---------------------------------------------------------------------------------------->
        <div class="padding"></div>
        <div style="border:2px solid #2196F3" class="">
          <label class="item item-input"> <i class="icon ion-email placeholder-icon"></i>
            <input type="email" placeholder="Email" required ng-model="Client.userData.email_patient" name="email" ng-disabled="true"> </label>
        </div>
        <!----end of div---------------------------------------->
        <div class="padding"></div>
        <button class="button button-block button-positive button-outline text ink" data-ink-color="#9DEAFF" data-ink-opacity="1" style="border:2px solid #2196F3"> Modifier </button>
      </form>
      <!---------end of form--------------->
    </div>
  </ion-content>
</ion-view>
