<ion-view>

  <ion-nav-title>
   <p class="choix">Recherche</p>
  </ion-nav-title>
  <ion-content class="animated fadeInLeft ">

    <div class="padding"></div>
<div class="row">

  <div class="col-50">
   <img src="/img/logo.png">
  </div>

  <!---------------->
  <div class="col-50 center">
    <p class="choix">Trouvez simplement un médecin et prendre un Rendez vous</p>
  </div>

</div>
<hr>
    <div class="padding-bottom"></div>

    <!--------the select------------->
    <div class="title">
      <p>Choisir spécialité</p>
    </div><!--end of title-->

<div class="row">

  <div class="col-70">
        <button style="border: 2px solid #2196F3;"  class="button button-positive button-outline" modal-select="" ng-model="data.specialite" options="specialites" modal-title="Choisir Spécialité" has-search="true" required
          name="specialite">
          Spécialité
          <div class="option">
            {{option}}
          </div>
        </button>
  </div><!---end of col 70---------------->
  <!---------------------------------------------------->

<div class="padding"></div>



<div class="col-30">
  <p class="choix">{{ data.specialite}}</p>
</div><!--------end of col 30----------->


</div>















    <!----------------------------------------------------------------------------->
    <div class="padding-bottom"></div>

    <!--------error show message------------------->
    <div class="card card-assertive cardError" ng-if="errorSpecilaite ">
      <p class="error">Vous Devez précisez la specialite
</p>
      </div><!---end of card error-------------->

    <!---------------------------------------------------------------------------------------->
    <div class="padding-bottom"></div>


    <div class="title">
      <p>Choisir Gouvernorat</p>
    </div><!--end of title-->

      <!--------the select------------->
      <div class="row">

<div class="col-70">
        <button style="border: 2px solid #2196F3;" class="button button-positive button-outline" modal-select="" ng-model="data.gouvernorat" options="gouvernorats" modal-title="Choisir Gouvernorat" has-search="true">
          Gouvernorat
          <div class="option">
            {{option}}
          </div>
        </button>

</div><!---end of col 70--------->


        <div class="padding"></div>

 <div class="col-30">
<p class="choix">{{ data.gouvernorat}}</p>

 </div>
      </div><!----end of row-------------->

      <!------------------->


    <div class="padding-bottom"></div>
    <!------------------>

    <div class="title">
      <p>Choisir Délégation</p>
    </div><!--end of title-->
<div class="row">


  <div class="col-70">
      <button style="border: 2px solid #2196F3;" class="button button-positive button-outline" modal-select="" ng-model="data.delegation" options="delegations" modal-title="Choisir Délegation" has-search="true">
       Délegation
        <div class="option">
          {{option}}
        </div>
      </button>
  </div><!---end of col 70------------>

  <div class="padding"></div>

  <!------------------------------->
  <div class="col-30">
  <p class="choix">{{ data.delegation }}</p>
  </div><!----end of col 30---------->



</div>






    <div class="padding-bottom"></div>


    <!---------------------------------------------->

    <button style="border: 2px solid #2196F3;"  class="button button-block button-positive button-outline  ink Btnsearch" data-ink-color="#9DEAFF" data-ink-opacity="1" ng-click="rechercheParCritere()"

      value="Rechercher">
      Rechercher
      <i class="icon ion-search placeholder-icon"></i>
    </button>














    <!----------------------------------->











  </ion-content>
</ion-view>
