<ion-view view-title="Recherche">
  <ion-content class="padding animated fadeInLeft">



    <div class="row">
      <label class="item item-input item-stable">

        <i ng-show="!disableGeo" class="icon ion-ios-location placeholder-icon"></i>
        <i ng-show="disableGeo" class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Rechercher autour de moi" autocorrect="off" autocapitalize="off" ng-click="RechercherParMap()" >


      </label>
    </div>


    <div class="padding"></div>

    <!--------the select------------->





      <div class="row">



        <div class="col-33">
        <button style="border: 2px solid #2196F3;"  class="button button-positive button-outline" modal-select="" ng-model="data.specialite" options="specialites" modal-title="Choisir Spécialité" has-search="true" required="">
          Spécialité
          <div class="option">
            {{option}}
          </div>
        </button>
      </div><!----end of col 33----------->


      <!------------------->

      <!--------the select------------->
      <div class="col-33">
        <button style="border: 2px solid #2196F3;" class="button button-positive button-outline" modal-select="" ng-model="data.gouvernorat" options="gouvernorats" modal-title="Choisir Gouvernorat" has-search="true">
          Gouvernorat
          <div class="option">
            {{option}}
          </div>
        </button>
      </div><!----end of col 33-------------->

      <!------------------->




    <div class="padding"></div>
    <!------------------>



    <div class="col-33">
      <button style="border: 2px solid #2196F3;" class="button button-positive button-outline" modal-select="" ng-model="data.delegation" options="delegations" modal-title="Choisir Délegation" has-search="true">
       Délegation
        <div class="option">
          {{option}}
        </div>
      </button>
    </div><!----end of col-33------------->

    <!------------------->
</div><!------------------end of row--------------->

<div class="padding"></div>
    <div class="row">
      <div class="col-33" ng-if="data.specialite">
        <p>{{ data.specialite}} <i class = "icon icon ion-ios-medkit-outline"></i></p>
      </div>

      <div class="col-33 text2" ng-if="data.gouvernorat">
        <p>{{ data.gouvernorat}} <i class = "icon icon ion-ios-location"></i></p>
      </div>

      <div class="col-33 text2" ng-if="data.delegation">
        <p>{{ data.delegation}} <i class = "icon icon ion-android-home"></i></p>
      </div>

    </div>

    <div class="padding"></div>

    <button style="border: 2px solid #2196F3;"  class="button button-block button-positive button-outline  ink" data-ink-color="#9DEAFF" data-ink-opacity="1" ng-click="rechercheParCritere()">
      Rechercher
      <i class="icon ion-search placeholder-icon"></i>
    </button>














    <!----------------------------------->











  </ion-content>
</ion-view>
