<ion-view view-title="Recherche">
  <ion-content class="padding animated fadeInLeft">



    <div class="row">
      <label class="item item-input item-stable">

        <i ng-show="!disableGeo" class="icon ion-ios-location placeholder-icon"></i>
        <i ng-show="disableGeo" class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Rechercher autour de moi" autocorrect="off" autocapitalize="off" ng-click="RechercherParMap()" >


      </label>
    </div>


    <div class="padding"></div>

    <div class="row">



        <button style="border: 2px solid #2196F3;"  class="button button-positive button-outline" modal-select="" ng-model="doctor" options="docteurs" modal-title="Choisir Docteur" has-search="true"
                cancel-button="Annuler" reset-button="Annuler" search-placeholder="Rechercher Pa Nom" cancel-search-button="réinitialiser"
                sub-header-class="bar-positive">
        Recherchez Votre médecin
          <div class="option">
            {{option.prenom_praticien + ' ' + option.nom_praticien}}
          </div>
        </button>

      </div><!----end of Row---------->
    <p>{{ searchDoc}}</p>

    <div class="padding"></div>


    <div class="card text-center" ng-if="doctor" style="color: #2196F3;">
    <a ui-sref="app.docteursDetails({id:doctor.id })"> Vous avez Choisi {{ doctor.prenom_praticien  + ' ' + doctor.nom_praticien +'i'
      + doctor.id}}  <i class = "icon icon ion-happy-outline"></i></a>
    </div>

    <button class="button button-calm" ng-click="RechercheParNom()">
     Next
    </button>









  </ion-content>
</ion-view>
