<ion-view view-title="Docteur" ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
  <ion-content class="animated fadeInLeft">


    <div class="row">






          <div class="col-40 imageDoctor" >
            <a>
              <img src="/img/docteuritem.jpg" width="70px">
            </a>
          </div><!----end of col md40----->

          <div class="col-60">
            <h5 class="doctor">
              Dr {{ Docteur.nom_praticien + ' ' + Docteur.prenom_praticien}}

            </h5>
            <h6 class="specialite">Spécialité :{{ Docteur.specialite}}</h6>
            <br>
            <p>
              <i class = "icon icon ion-android-home"></i>
              Addresse :{{ Docteur.gouvernorat + ' ' + Docteur.ville}}</p>
          <span style="color: #2196F3">
            <i class = "icon icon ion-android-call"></i>
            telephone {{ 	Docteur.phone__fixe_praticien}}
          </span>
            <br>


          </div><!--end of col 60------->






    </div><!-----------end of row------------>



    <div class="padding"></div>


    <button class="button button-block" ng-click="prendreRdv()">
      Prendre un rnedez Vous
    </button>










  </ion-content>
</ion-view>
