<ion-view>


  <ion-nav-title>
    <p class="choix">Rendez Vous</p>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-calm Btnsearch" ng-click="logout()">
      logout
    </button>
  </ion-nav-buttons>


  <ion-content class="padding animated fadeInLeft">



    <h4 class="content padding double-padding-x choix" style="text-align: center;">Mes Rendez-vous</h4>




    <ion-list>
      <ion-item class="item-avatar" ng-repeat="item in Docteur.RendezVous.data">
        <img src="img/dashbord.png">

        <h3 class="text">  <i class="icon  ion-person"></i> Patient :<span>{{item.nom_patient + ' ' + item.prenom_patient}} </span></h3>
        <h3 class="text">  <i class="icon  ion-email"></i>Date :<span>{{item.DATE }}</span></h3>
        <h3 class="text" ng-if="checked">  Etat :<span><i class="icon  ion-ios-checkmark"></i> </span></h3>
        <h3 class="text" ng-if="item.etat==='En_Attente'">  Etat :<span>  <ion-spinner icon="android"></ion-spinner> </span></h3>
        <h3 class="text" ng-if="item.etat==='rejetee'">  Etat <span><i class="icon  ion-close"></i> </span></h3>
        <div class="button-bar">
          <button class="button button-positive button-outline Btnsearch" ng-click="confirmerRendezVous(item.id)">
            Confirmer
            <i class="icon ion-ios-checkmark-empty"></i>
          </button>
          <button class="button button-assertive button-outline Btnsearch" ng-click="rejeterRendezVous(item.id)">
            Rejeter

          </button>

        </div>
      </ion-item>
    </ion-list>










    <!------------------------->



















  </ion-content>
</ion-view>
