<ion-view view-title="Praticients">
  <ion-content class="padding animated fadeInLeft">





    <h4 class="content padding double-padding-x text2" style="text-align: center;">Mes Praticients</h4>

    <!--------Praticients------------------>
    <div class="list animate-fade-slide-in-right text2">



      <a  class="item item-avatar item-icon-right" ui-sref="app.docteursDetails({nom:'ahmed'})">
        <img src="/img/doctorMenu.png">
        <h2 class="text2">Praticien 1</h2>


      </a>



      <a  class="item item-avatar item-icon-right" ui-sref="app.docteursDetails({nom:'ahmed'})">
        <img src="/img/doctorMenu.png">
        <h2 class="">Praticien 2</h2>
      </a>






    </div>
    <!------------------------->






  </ion-content>
</ion-view>
