<ion-view view-title="Rendez Vous">
  <ion-content class="padding animated fadeInLeft">



    <h4 class="content padding double-padding-x text2" style="text-align: center;">Mes Rendez-vous</h4>

    <!--------Praticients------------------>
    <div class="list animate-fade-slide-in-right text2">



      <a  class="item item-avatar item-icon-right" ui-sref="app.rdvDetails({nomRdvez:'rdv1'})">
        <img src="/img/dashbord.png">
        <h2 class="text2">Rendez vous 1</h2>


      </a>



      <a  class="item item-avatar item-icon-right"  ui-sref="app.rdvDetails({nomRdvez:'rdv1'})">
        <img src="/img/dashbord.png">
        <h2 class="">Rendez vous 2</h2>
      </a>






    </div>
    <!------------------------->



















  </ion-content>
</ion-view>
